<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="/css/chatStyle.css">
</head>
<body>
<div class="chat-container">
    <h1>Чат с пользователем <span th:text="${receiver.name}"></span></h1>

    <ul class="message-list" th:if="${not #lists.isEmpty(messages)}">
        <li th:each="message : ${messages}"
            th:class="${message.sender != null and message.sender?.id == loggedInUser?.id ? 'sender-message' : 'receiver-message'}">
            <span th:text="${message.sender != null ? message.sender.name : 'Unknown'}"></span>:
            <span th:text="${message.content}"></span>
        </li>
    </ul>

    <form class="message-form" th:action="@{/chat/send-message}" method="post">
        <input type="hidden" name="senderId" th:value="${loggedInUser.id}">
        <input type="hidden" name="receiverId" th:value="${receiver.id}">
        <input class="message-input" type="text" name="content" placeholder="Введите сообщение">
        <button class="send-button" type="submit">Отправить</button>
    </form>
</div>
</body>
</html>
