<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/profileAndEdit.css">
    <title>Edit Profile</title>
</head>
<body>
<div class="edit-profile-container">
    <h1>Редактировать профиль</h1>

    <form th:object="${user}" th:action="@{/profile/{userId}/save(userId=${user.id})}" method="post">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" th:value="${user.name}" /><br>

        <label for="age">Возраст:</label>
        <input type="text" id="age" name="age" th:value="${user.age}" /><br>

        <label for="gender">Пол:</label>
        <input type="text" id="gender" name="gender" th:value="${user.gender}" /><br>

        <label for="skill">Мастерство:</label>
        <select id="skill" name="skillId">
            <option th:each="skill : ${skillsList}" th:value="${skill.id}" th:text="${skill.name}"
                    th:selected="${user.skill != null and user.skill.id == skill.id}"></option>
        </select><br>

        <label for="interest">Интересы:</label>
        <select id="interest" name="interestId">
            <option th:each="skill : ${skillsList}" th:value="${skill.id}" th:text="${skill.name}"
                    th:selected="${user.interest != null and user.interest.id == skill.id}"></option>
        </select><br>

        <button type="submit">Сохранить</button>
    </form>
</div>
</body>
</html>
