<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/profileAndEdit.css">
    <title>User Profile</title>
    <style>
        /* Добавьте свои стили здесь */
    </style>
</head>
<body>
<div class="profile-container">
    <div class="user-info">
        <h1 th:text="${user.name}"></h1>
        <p>Возраст: <span th:text="${user.age}"></span></p>
        <p>Пол: <span th:text="${user.gender}"></span></p>

        <h3>Мастерство:</h3>
        <p th:if="${user.skill != null}" th:text="${user.skill.name}"></p>
        <p th:unless="${user.skill != null}">Не указано</p>

        <h3>Интересы:</h3>
        <p th:if="${user.interest != null}" th:text="${user.interest.name}"></p>
        <p th:unless="${user.interest != null}">Не указано</p>
    </div>

    <a class="edit-profile-link"
       th:href="@{/profile/{userId}/edit(userId=${user.id})}"
       th:if="${loggedInUser != null and loggedInUser.id == user.id}">
        Редактировать профиль
    </a>

    <a class="recommendations-link"
       th:href="@{/profile/{userId}/recommendations(userId=${user.id})}"
       th:if="${loggedInUser != null and loggedInUser.id == user.id}">
        Рекомендации
    </a>

    <a class="logout-link"
       th:href="@{/profile/{userId}/logout(userId=${user.id})}"
       th:if="${loggedInUser != null and loggedInUser.id == user.id}">
        Выйти
    </a>

    <a class="back-to-profile"
       th:if="${loggedInUser != null and loggedInUser.id != user.id}"
       th:href="@{/profile/{userId}(userId=${loggedInUser.id})}">
        Вернуться к профилю
    </a>

<!--    <a class="send-chatMessage-link"-->
<!--       th:if="${loggedInUser != null and loggedInUser.id != user.id}"-->
<!--       th:href="@{/chat/{senderId}/{receiverId}(senderId=${loggedInUser.id}, receiverId=${user.id})}"-->
<!--       th:data-sender-id="${loggedInUser.id}" th:data-receiver-id="${user.id}">-->
<!--        Отправить сообщение-->
<!--    </a>-->

</div>

<script src="/js/chat.js"></script>
</body>
</html>
